<section class="contact-section">
    <div class="container">
        <div class="row">
            <img src="~/images/contact-image.jpg" class="col-lg-6 img-responsive" />
            <div class="col-md-6">
                <h2>@ViewData["Title"]</h2>
                <h3>@ViewData["Message"]</h3>

                <address>
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399<br />
                    <abbr title="Phone">P:</abbr> 425.555.0100
                </address>

                <address>
                    <strong>Support:</strong> <a href="mailto:Support@autopro.com">Support@autopro.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@autopro.com">Marketing@autopro.com</a>
                </address>
            </div>
        </div>
    </div>
</section>
